@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="nav">
        <form method=GET action="http://localhost:12767/Admin/Search1">
            <br>
            Name of Item to be searched <input type="text" name="name" style="font-size:medium"  required /> <br />
            <input type="submit" value="Search" />
        </form>
    </div>

</body>
