@{
    ViewBag.Title = "Contact";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

<h2>Contact</h2>
<p style ="text-align: center;">
    <span style="line-height: 1.3em;">

        Contact us through
         
                        Phone number: 0321-4166664 | 0321-4577778 |  042-35123894 
                        Fax number: 111-222-333
                        Email: info@shopaholics.pk

        </span>
</p>

</body>