@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body >
     <h2 > Register</h2 >
    <p style ="text-align: center;">
        <span style="line-height: 1.3em;">
            Register yourself to get notified of our discount offers and deals
            </span>
            </p>
            <div id="nav">
                <form method=GET action="http://localhost:12767/Home/Register1" >
                    <br>
                    Email id: <input type="email" id="email" name="email" style="font-size:medium" autocomplete="on" required /> <br />
                    Password: <input type="password" name="password" style="font-size:medium" required /> <br />
                    <input type="submit" value="Register" />
                </form>
                
</div>

</body>