@{
    ViewBag.Title = "Services";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<h2>Services</h2>
<h1 style="text-align: center;">Shopaholics.pk</h1>
<p style="text-align: center;">
    <span style="line-height: 1.3em;">
        We provide a convenient and hassle free way of online shopping in Pakistan. Shopaholics.pk takes your style statement into a whole new territory by placing an extensive variety of top-class brands within easy reach.
    </span>
</p>
<p style="text-align: center;">
    <span style="line-height: 1.3em;">
        Shop online, for trendy apparel like you have never done before from the comfort of your home. We strive to make sure that the best collections of designer clothing and fashion shoes are brought onto your computer screen.
    </span>
</p>

</body>